
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

@{ if (Session["AdminName"] != null)
    {
        <h2>
            Welcome @Session["AdminName"].ToString() - DashBoard
        </h2>
    }
    else
    {

        <h2>
            Welcome AdminUser DashBoard<br />
            
        </h2>


    }


}


