
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{ if (Session["Email"] != null)
    {
        <h2>
            Welcome @Session["Email"].ToString() - DashBoard
        </h2>}
    else
    {
        <h2>
            Welcome AdminUser - DashBoard
        </h2>

    }
}

<table>
    <tr><th>@Html.ActionLink("Login here", "Login")</th></tr>
    <tr><th>@Html.ActionLink("Loan Req Handler", "ChangeStatus")</th></tr>
    <tr><th>@Html.ActionLink("View Customers", "ViewCustomers")</th></tr>
    
</table>

