
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Customer.cshtml";
}



@{ if (Session["Email"] != null)
    {
        <h2>
            Welcome @Session["Email"].ToString() - Customer DashBoard
        </h2>
    }
    else
    {

        <h2>
            Welcome User - Customer DashBoard<br />
            
        </h2>

    }


}




